.togglecontainer {
  width: 260px;
  height: 80px;
  background-color: #171717;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.custom {
  color: white !important;
  padding: 10px 23px;
}
.btn.custom:hover {
  background-color: Black !important;
  color: #5aa79f !important;
}

/* .outer {
  display: flex;
  align-items: center;
  justify-content: center;
} */
